<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StomadentApp.Properties.Settings.StomadentConnectionString"
            connectionString="Data Source=DESKTOP-0EM85VR\SQLEXPRESS;Initial Catalog=Stomadent;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StomadentApp.Properties.Settings.Stomadent_2ConnectionString"
            connectionString="Data Source=DESKTOP-0EM85VR\SQLEXPRESS;Initial Catalog=&quot;Stomadent 2&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>