USE [master]
GO
/****** Object:  Database [Stomadent]    Script Date: 1/18/2021 10:26:48 PM ******/
CREATE DATABASE [Stomadent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Stomadent', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Stomadent.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Stomadent_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Stomadent_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Stomadent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Stomadent]
GO
/****** Object:  Table [dbo].[Pacijenti]    Script Date: 1/18/2021 10:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacijenti](
	[Ime] [nvarchar](25) NULL,
	[Prezime] [nvarchar](25) NULL,
	[Intervencija] [nvarchar](25) NULL,
	[Adresa] [nvarchar](25) NULL,
	[Zaposlenje] [nvarchar](25) NULL,
	[Broj] [nvarchar](25) NULL,
	[Jmbg] [nvarchar](25) NULL,
	[Datum] [nvarchar](500) NULL,
	[Primarni] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Pacijenti] PRIMARY KEY CLUSTERED 
(
	[Primarni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
